* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
}

main {
    width: 100%;
    height: 600px;
    background: url('./assets//main-hero.jpg') no-repeat fixed center;
    background-size: cover;
    background-blend-mode: darken;
    padding: 0 50px;
    position: relative;
}

main nav {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main nav #logo {
    color: white;
    font-size: 22px;
    letter-spacing: .26rem;
    font-weight: 700;
    flex: 2;
}

main nav ul {
    width: 450px;
    height: inherit;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
}

main nav ul li {
    font-size: 14px;
    font-weight: 400;
    color: white;
    cursor: pointer;
}

main nav ul li:hover {
    font-size: 15px;
}

main nav ul .active {
    text-decoration: underline;
    text-underline-offset: 6px;
    font-weight: 700;
}

main nav #nav-btn {
    width: 200px;
    height: inherit;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

main nav #nav-btn button {
    width: 80px;
    height: 26px;
    font-size: 14px;
    border: none;
    border-radius: 8px;
    color: black;
    background: white;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, .8);
    cursor: pointer;
}

main nav #nav-btn button:hover {
    color: black;
    background: rgb(214, 214, 214);
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, .8);
}

main h1, main h2 {
    color: white;
}

main h1 {
    width: 600px;
    font-size: 48px;
    padding: 100px 0 20px 0;
}

main h2 {
    font-size: 20px;
    font-weight: 100;
    width: 300px;
    padding-bottom: 100px;
}

#search {
    background: white;
    width: 100%;
    height: 240px;
    display: flex;
    border-radius: 16px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, .18);
}

#search #search-bar {
    width: 200px;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    font-size: 14px;
    background-color: #e2f1ff;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    color: #83abd0;
}

#search #search-bar li {
    width: 200px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

#search #search-bar li:nth-child(1) {
    background-color: white;
    color: black;
    border-top-left-radius: 16px;
    box-shadow: 0 1px 2px  rgba(0, 0, 0, .1);
}

#search #search-bar li:nth-child(2) {
    border-bottom: 1px solid #ceddea;
}


#search #search-bar li:nth-child(3) {
    border-bottom-left-radius: 16px;
}



#search #search-form {
    flex: 2;
    display: flex;
    flex-direction: column;
    padding: 10px 40px;
}

#search #search-form form{
    width: inherit;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#search #search-form form input[type=text]{
    width: 940px;
    height: 30px;
    padding: 5px 10px;
    border-radius: 60px;
    border: 1px solid rgb(209, 209, 209);
}

#search #search-form form input[type=text]::placeholder {
    font-size: 14px;
    color: rgb(209, 209, 209);
}

#search #search-form form button{
    width: 100px;
    height: 40px;
    background-color: #0085FF;
    color: white;
    text-transform: uppercase;
    border: none;
    border-radius: 8px;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, .10);
    font-size: 14px;
}

#search #search-form p{
    font-size: 18px;
    font-weight: 500;
    padding: 20px 0;
}

main #search #search-form #search-links{
    width: inherit;
    height: 80px;
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    gap: 50px;
    align-items: center;
}


main #search #search-form #search-links li{
    padding: 10px 15px;
    border: 1px solid #0085FF;
    border-radius: 8px;
    color: #0085FF;
    font-size: 16px;
}

main #search #search-form #search-links li:hover{
    background-color: #a9d5ff;
    cursor: pointer;
}


